db.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE Files
.classpath
.project
.settings/
.idea/
.vscode/

# Maven
log/
target/
target\
target/*

# Inclusions
!lib/**

# Compiled Files
*.MF
*.properties
*.class
bin/
build/
/bin1/
java/build/**
